# Add files names (and patterns) you want git to ignore here.
src/data/
src/.idea/
.idea/
*.iml
mocks/
speed_tests/

src/server/restapi/operations
src/server/models/
src/client/models/
src/client/apiclient/*/*

# Ignore compiled C/C++ files.
*.o

# Ignore everything in the build directory.
build/
